@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Umum */
.container-judul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Roboto Flex', sans-serif;
}

.judul {
    color: fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.keterangan-judul{
    text-align: center;
    width: 60%;
    margin-bottom: 60px;
    line-height: 1.8;
    font-size: 19px;
    font-family: 'Roboto Flex', sans-serif;
}

.GarisJudul {
    width: 40px;
    height: 5px;
    background-color: #011e3c;
    border-radius: 20px;
    margin-bottom: 20px;
}
/* End */

/* menu atas */
.atas {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px; 
    z-index: 999; 
    background: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    box-shadow: .5px .5px 3px black;
}

.atas a {
    display: block;
    text-align: center;
    font-size: 30px; 
    text-decoration: none;
    margin-top: 2.9px;
    color: #272a33;
}
/* end */

/* NANBAR */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #011e3c;
    height: fit-content;
    font-family: 'Roboto Flex', sans-serif;
}

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        width: 90%;
        height: fit-content;
        background-color: #011e3c;
    }

    .container-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        margin-left: 40px;
    }

    .logoFoto {
        padding: 5px;
        margin-right: 10px;
    }

    .logoFoto img {
        width: 45px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid white;
    }

    .logoTeks {
        color: white;
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
        letter-spacing: 1.5px;
    }

    .menu {
        display:flex;
        justify-content: space-around;
        align-items: center;
        width: 40%;
    }

    .menu>li {
        list-style: none;
    }

    .menu>li>a {
        color : white;
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        text-transform: capitalize;
        font-family: 'Roboto Flex', sans-serif;
        opacity: 0.8;
    }

    .menu>li>a:hover {
        color: white;
        opacity: 2;
        transition: 0.4s;
    }

    .menu-toggle {
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
    }

    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: all 0.5s;
    }

    .menu-toggle input {
        position: absolute;
        width: 40px;
        height: 28px;
        left: -11px;
        top: -12px;
        opacity:0;
        cursor: pointer;
        z-index: 2;
    }

    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0 ;
    }

    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }

    .menu-toggle input:checked ~ span:nth-child(2) {
        transform: rotate(45deg) translate(-1px,-1px);
    }

    .menu-toggle input:checked ~ span:nth-child(3) {
        opacity: 0;
        transform: scale(0);
    }

    .menu-toggle input:checked ~ span:nth-child(4) {
        transform: rotate(-45deg) translate(-1px, 0);
    }
/* NAVBAR END */

/* Home */
.Home {
    z-index: 2;
    background-color: #011e3c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
    .HomeTeks {
        color: white;
        width: 50%;
    }

    .HomeTeks h1 {
        font-family: "DM Serif Text", serif;
        font-size: 45px;
        margin-bottom: 9px;
        text-shadow: 1px 1px 1px black;
    }

    .container-teks{
        margin-bottom: 20px;
    }

    .teks {
        position: relative;
        color: yellow;
        font-family: "DM Serif Text", serif;
        font-size: 27px;
        font-weight: 100;
        text-shadow: 1px 1px 1px black;

    }

    .teks.satu{
        color: #fff;
    }


    .teks.dua::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #011e3c;
        border-left: 2px solid #f6f6f7;
        animation: animate 4s steps(12) infinite;
    } 

    @keyframes animate {
        40%, 60% {
            left: 100%;
        }

        100% {
            left: 0%;
        }
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffd700; 
        color: #fff; 
        text-shadow: 1px 1px 1px black;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.7s ease;
        width: fit-content;
      }
  
      .btn:hover {
        background-color: #ffd700;
        transform: translateY(-2px);
      }

    .foto img {
        border-radius: 50% 50% 30px 30px;
        box-shadow: 0 3px 15px white;
        
    }
/* Home End */

/* About */
.About {
    width: 100%;
    height: 100vh;
    padding-top: 140px;
    background-color: #f2f2f2 ;
}


.isiAbout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cerita {
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    text-align: left;
    margin-right: 30px;
}

.judul-cerita h1{
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.judul2 h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 23px;
}

.cerita-isi p {
    font-size: 17px;
    color: #666;
    line-height: 1.8;
    margin-bottom: 15px;
}

.skilRai {
    width: 500px;
    height: 300px;
    margin-left: 30px;
}

.conteskil {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skil {
    width: 30%;
    margin-bottom: 20px;
}

.skil p {
    font-size: 16px;
    color: #666;
    background-color: #99999933;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
/* About End */

/* Project */
.Project{
    background-color: white;
    height: fit-content;
    width: 100%;
    margin-bottom: 50px;
    padding-top: 120px;
}

.container-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;

}

    .fotoProject img{
        border: 1px solid black;
    }

    .project {
        display: flex;
        flex-direction: row;
        width: 75%;
        padding: 20px;
        margin-bottom: 30px;
        border: 1px solid black;
        background-color: #fff;
        border-radius: 10px;
    }
        .keteranganProject{
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: start;
            padding-left: 20px;
        }
            .judulProject{
                margin-bottom: 20px;
                margin-top: -3px;
            }
            
            .deskripsiProject p{
                color: #666;
                font-size: 17px;
            }


/* Project End */

/* Contact */
.Contact {
    height: 100vh;
    background-color: #223b52; 
    color: #ffffff;
    padding-top: 140px; 
    padding-bottom: 50px;
}

.Hubungi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.HubungiKanan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.Form {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}

.medsos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f9f9f9;
    height: 60px;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.medsos i {
    font-size: 30px;
    color: #333;
    margin: 60px;
}

.Hubungikiri {
    width: 40%;
    margin-left: 20px;
    margin-bottom: -3.5px;
}

.Hubungikiri iframe {
    width: 100%;
    height: 350px;
    border: none;
}
/* Contact End */

/* Footer */
.footer {
    background-color: #011e3c; /* Warna latar belakang hitam */
    color: #ffffff; /* Warna teks putih */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footerisi {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .footerJudul {
    margin-bottom: 10px;
  }
  
  .footerNama h3 {
    margin: 0;
  }
  
  .footerKeterangan,
  .footerHubungi{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footerMedsos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
  }

  .footerMedsos i{
    font-size: 24px;
    color: white;
    margin-right: 20px;
  }

  .footerMedsos a {
    text-decoration: none;
  }
  
  .Copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  hr {
    border-color: #ffffff; /* Warna garis putih */
    width: 80%;
  }
  
/* Footer End */
@media screen and (max-width: 576px) {
    /* menu */
    .menu-toggle {
        display: flex;
        z-index: 2;
    }

    .menu {
        position: absolute;
        top: 0;
        right: 0;
        height: 250px;
        width: 50%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: start;
        margin-top: -7px;
        padding-left: 50px;
        background-color: black;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 0px 5px 1px black;
    }

    .menu.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* nav */
    .wrapper {
        width: 95%;
    }

    .container-logo {
        margin-left: 0;
    }

    .logoFoto {
        margin-right: -4px;
    }

    .logoFoto img {
        width: 40px;
    }

    .logoTeks {
        font-size: 18px;
        letter-spacing: 1px;
    }    

    /* umum */
    .judul {
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .keterangan-judul{
        text-align: center;
        width: 80%;
        margin-bottom: 60px;
        font-size: 17px;
        color: #666;
    }
    
    .GarisJudul {
        width: 40px;
        height: 5px;
        background-color: #011e3c;
        border-radius: 20px;
        margin-bottom: 10px;
    }
    /* end */

    /* Home */
    .Home {
    flex-direction: column-reverse;
    padding: 0px;
    }

    .HomeTeks {
        width: 80%;
        text-align: center;
    }

    .HomeTeks h1 {
        font-size: 25px;
        margin-bottom: 0px;
    }

    .container-teks{
        margin-bottom: 10px;
    }

    .teks {
        font-size: 17px;
    }

    .foto{
        margin-bottom: 30px;
    }

    .foto img {
        width: 300px;
        border-radius: 50% 50% 30px 30px;
        box-shadow: 0 3px 15px white;
    }


    /* about */
    .About {
        padding-top: 100px;
        height: fit-content;
        padding-bottom: 45px;
    }
    
    .isiAbout {
        flex-direction: column;
    }
    
    .cerita {
        width: 85%;
        height: auto;
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .judul-cerita h1{
        font-size: 20px;
        margin-bottom: 20px;
    }
    
    .cerita-isi{
        font-size: 16px;
    }

    .judul2 h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    

    .skilRai {
        width: 85%;
        height: auto;
        margin-left: 0;
    }

    /* Project */
    .Project{
        padding-top: 100px;
    }
    
        .project {
            align-items: center;
            flex-direction: column;
            width: 90%;
        }

        .fotoProject{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .fotoProject img{
            width: 100%;
            border-radius: 5px;
        }

            .keteranganProject{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: start;
                padding-left: 0;
            }
                .judulProject{
                    font-size: 16px;
                    margin-bottom: 10px;
                    margin-top: -3px;
                }
                
                .deskripsiProject p{
                    font-size: 16px;
                }
    /* Project End */
    
    /* Contact */
    .Contact {
        padding-top: 100px; 
        height: auto;
        padding-bottom: 40px;
    }

    .font{
        color: #fff;
    }
    
    .Hubungi {
        flex-direction: column;
        align-items: center;
    }
    
    .HubungiKanan {
        width: 85%;
        margin-bottom: 20px;
    }
    
    .medsos i {
        margin: 30px;
    }
    
    .Hubungikiri {
        width: 85%;
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .Hubungikiri iframe {
        width: 100%;
        height: 270px;
        border: none;
    }
    /* Contact End */
      .footerisi {
        display: none;
      }

      .Copyright {
        text-align: center;
        margin-top: 0;
      }
      
      hr {
        display: none;
      }

}

